body{
    text-align: center;
    color: rgb(50, 3, 5);
    background-color: rgb(210, 193, 196);
    
}
.circle-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
}

h1{
    color:red;
    font-family: 'Oswald',sans-serif;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}